.main-content {
    padding-top: 100px;
    background: url("../images/materix-background.png") center top no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    padding-top: 60px;
    display: flex;
    min-height: 100vh;
}

.left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: #F5EFE6;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.left-sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-content {
    flex: 1;
    width: 80%;
    margin-left: 20%;
    margin-right: auto;
    padding: 0 40px;
    overflow: hidden;
}

.mulai-btn:hover {
    transform: translateY(-4px);
    color: #fff;
}

/* Input button */
.unggah-btn {
    margin-top: 28px;
    background: #FF8E37;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    padding: 16px 48px;
    border-radius: 14px;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.18);
    transition: 0.25s ease;
    position: relative;
}
.unggah-btn::before {
    content: "";
    position: absolute;
    inset: 12px;
    border: 2px solid #ffffff;
    border-radius: 14px;
}

.unggah-btn:hover {
    transform: translateY(-4px);
    color: #0A1F59;
}

/* Input data bahan dan produsen */
.data-btn {
    background: #FF8E37;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding: 16px 48px;
    border-radius: 14px;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.18);
    transition: 0.25s ease;
    position: relative;
}
.data-btn::before {
    content: "";
    position: absolute;
    inset: 12px;
    border: 2px solid #ffffff;
    border-radius: 14px;
}

.data-btn:hover {
    transform: translateY(-4px);
    color: #0A1F59;
}

/* SEARCH BAR */
.search-wrapper {
    position: relative;
    margin-bottom: 30px;
    margin-top: 37px;
    justify-content: space-between;
}

.search-wrapper input {
    width: 100%;
    height: 55px;
    border-radius: 14px;
    border: none;
    padding: 0 55px 0 20px;
    font-size: 18px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
}

.search-icon {
    position: relative;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #777;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* Card project */
.riwayat-item {
    background: #F5EFE6;
    border-radius: 14px;
    padding: 18px 22px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    transition: 0.25s ease;
}

.riwayat-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.10);
}

.riwayat-item:hover h5 {
    color: #FF8E37;
    transform: translateY(-4px);
}

.riwayat-item:hover p {
    transform: translateY(-4px);
    font-weight: 700;
}

.riwayat-item h5 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 1px;
    color: #000;
}

.riwayat-item p {
    font-size: 17px;
    color: rgb(66, 66, 66);
    margin: 0;
}

.dots {
    font-size: 22px;
    color: #777;
}

/* Project Kosong */
.riwayat-empty-wrapper {
    position: relative;
    margin-top: 167px;
    display: flex;
    justify-content: center;
}

.riwayat-empty-box {
    background: #ff8f3f;
    border-radius: 20px;
    padding: 50px 60px 50px 240px;
    width: 100%;
    max-width: 1310px;
    min-height: 370px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.riwayat-empty-text {
    font-size: 27px;
    font-weight: 600;
    color: #1b1b1b;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 67px;
}

.riwayat-character {
    position: absolute;
    left: -40px;
    bottom: -20px;
    width: 260px;
    z-index: 5;
}

/* Tombol mulai */

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.mulai-btn {
    margin-top: 28px;
    background: #0A1F59;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    padding: 16px 48px;
    border-radius: 14px;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.35);
    transition: 0.25s ease;
}

@media (max-width: 1024px) {
    .data-btn {
        font-size: 20px;
        font-weight: 500;
        padding: 16px 48px;
        border-radius: 14px;
        width: 200px;
        height: 200px;
    }

    .unggah-btn {
        font-size: 20px;
        font-weight: 500;
        padding: 16px 48px;
        border-radius: 14px;
        width: 200px;
        height: 200px;
    }

    .right-content {
        flex: 1;
        width: 75%;
        margin-left: 25%;
        margin-right: auto;
        padding: 0 40px;
    }

    .left-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 100vh;
        padding: 40px 20px;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 768px) {

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 0;
    }

    .left-sidebar {
        position: relative;
        width: 100%;
        height: fit-content;
        padding: 0px;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 67px;
        overflow: visible; 
        margin-top: 10px;
        margin-bottom: 0;
        background: transparent;
    }
    
    .search-wrapper {
        position: relative;
        margin: 0;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .unggah-btn,
    .data-btn {
        width: 230px;
        height: 100px;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        margin: 0;
        margin-top: 30%;
    }

    .right-content {
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 425px) {

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 0;
    }

    .left-sidebar {
        position: relative;
        width: 100%;
        height: 110px;
        padding: 0px;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 30px;
        overflow: visible; 
        margin-top: 50px;
        background: transparent;
    }

    .unggah-btn,
    .data-btn {
        width: 150px;
        height: 70px;
        font-size: 18px;
        font-weight: 600;
        padding: 7px;
        margin: 0;
        margin-top: 67px;
        margin-bottom: 0;
        font-size: 14px;
    }

    .search-wrapper {
        position: relative;
        margin: 0;
        justify-content: space-between;
        margin-bottom: 20px;
    }


    .right-content {
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }

    .riwayat-empty-wrapper {
        position: relative;
        margin-top: 67px;
        display: flex;
        justify-content: center;
    }

    .riwayat-empty-box {
        padding: 40px 30px 40px 30px;
        text-align: center;
    }

    .riwayat-character {
        display: none;
    }
    .riwayat-empty-text {
        font-size: 20px;
        font-weight: 500;
    }
    .mulai-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .riwayat-list-wrapper {
        padding: 18px;
    }

    .riwayat-item {
        border-radius: 14px;
        padding: 18px 22px;
        margin-bottom: 14px;
        justify-content: space-between;
        align-items: center;
    }

    .riwayat-item h5 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 1px;
        color: #000;
    }

    .riwayat-item p {
        font-size: 17px;
        color: rgb(66, 66, 66);
        margin: 0;
    }

}
