/* LOGIN PAGE STYLE */

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  MAIN WHITE CONTAINER  */
.main-container {
    width: 1800px;
    min-height: 100vh; 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/*   FRAME DALAM (2 BAGIAN)   */
.c_login-frame {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/*   LEFT IMAGE CONTAINER   */
.c_login-left {
    width: 835px;
    height: 900px;
    background: url("../public/images/login0.png") center center / cover no-repeat;    
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*   RIGHT FORM CONTAINER   */
.c_login-right {
    width: 835px;
    height: 900px;
    background-color: #FF5E16;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 60px;
    box-sizing: border-box;
    color: #fff;
}

.c_login-right h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 90px;
    text-align: center;

}

/*   FORM   */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: transparent;
    padding: 10px 14px;
    font-size: 16px;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
    margin-bottom: 10px;

}

.form-group input::placeholder {
    color: rgba(255,255,255,0.8);
}

.form-group input:focus {
    border-color: #ffe2d0;
}

/*   BUTTON   */
.btn-login {
    width: 100%;
    height: 50px;
    background-color: #FF8E37;
    color: #0A2568;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.btn-login:hover {
    background-color: #e67e27;
    transform: translateY(-2px);
}

/*   RESPONSIVE   */
@media (max-width: 1400px) {
    .main-container {
        width: 90%;
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .c_login-frame {
        flex-direction: column;
        gap: 20px;
    }

    .c_login-left,
    .c_login-right {
        width: 90%;
        height: auto;
    }

    .c_login-right {
        padding: 40px 30px;
    }

}
